   <%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled">


   <% @pins.each do |pin| %>
   
<div class="box">

   <div id="wrapper">
         <%= link_to image_tag(pin.image.url(:medium)), pin %>
          <span class="text2"><%= pin.description %></span><p>
          <span class="text2"><%= number_to_currency(pin.price, :unit=> "$", :precision => 0) %></p>
   </div>
         <% if pin.user == current_user %>
             <div class="action">
                <%= link_to 'Edit', edit_pin_path(pin) %>
                <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %> 
             </div>
          <% end %>
    </div>
   
   <% end %>
 
</div>
 

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
