<%= link_to 'Back', pins_path %>

<div class="row">
<div class="col-md-offset-2 col-md-8">
	<div class="panel panel-default">
		<div class="panel-heading center">
<%= image_tag @pin.image.url(:medium) %>
</div>
 <div class="panel-body">
  <p><strong>Description: <%= @pin.description %>
 </strong></p>
 <p><strong>Price: <%= @pin.price %>
 </strong></p>

 
 <% if @pin.user != current_user %>
 <%= form_for @pin.answers.new do |f| %>
 <%= @pin.id %>
   <%= f.hidden_field :pin_id, :value => @pin.id %>
       

    <%= f.label :description %><br>
    <%= f.text_field :description %>
 
  <div class="actions">

    <%= f.submit %>
</div>
<%end%>
<%end%>



<% if @pin.user == current_user %>
<div class="actions">
<%= link_to 'Edit', edit_pin_path(@pin) %> <br>
</div>
<%end%>
<div class="panel-footer">
	<p> Cevaplar </p>
<% @pin.answers.each do |answer| %>
<p><%= answer.description %></p>
<%end%>
</div>
</div>
</div>
</div>

